-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: quickcount
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `calon`
--

DROP TABLE IF EXISTS `calon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calon` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor_urut` int(11) NOT NULL,
  `nama_calon` varchar(100) NOT NULL,
  `nama_wakil` varchar(100) DEFAULT NULL,
  `foto_calon` varchar(255) DEFAULT 'default_calon.png',
  `foto_wakil` varchar(255) DEFAULT 'default_wakil.png',
  `partai` varchar(255) DEFAULT NULL COMMENT 'Partai pengusung',
  `visi` text DEFAULT NULL,
  `misi` text DEFAULT NULL,
  `warna` varchar(7) DEFAULT '#6c757d' COMMENT 'Warna untuk grafik',
  `jenis_pemilihan` enum('pilpres','pilgub','pilbup','pilwalkot','pilkades') NOT NULL DEFAULT 'pilbup',
  `id_provinsi` int(11) DEFAULT NULL COMMENT 'NULL untuk pilpres',
  `id_kabupaten` int(11) DEFAULT NULL COMMENT 'NULL untuk pilpres/pilgub',
  `id_desa` int(11) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_jenis` (`jenis_pemilihan`),
  KEY `idx_provinsi` (`id_provinsi`),
  KEY `idx_kabupaten` (`id_kabupaten`),
  KEY `id_desa` (`id_desa`),
  CONSTRAINT `calon_ibfk_1` FOREIGN KEY (`id_desa`) REFERENCES `desa` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `desa`
--

DROP TABLE IF EXISTS `desa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `desa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_kecamatan` int(11) NOT NULL,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `tipe` enum('desa','kelurahan') NOT NULL DEFAULT 'desa',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_kecamatan` (`id_kecamatan`),
  KEY `idx_kode` (`kode`),
  CONSTRAINT `desa_ibfk_1` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3385 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kabupaten`
--

DROP TABLE IF EXISTS `kabupaten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kabupaten` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_provinsi` int(11) NOT NULL,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `tipe` enum('kabupaten','kota') NOT NULL DEFAULT 'kabupaten',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_provinsi` (`id_provinsi`),
  KEY `idx_kode` (`kode`),
  CONSTRAINT `kabupaten_ibfk_1` FOREIGN KEY (`id_provinsi`) REFERENCES `provinsi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kecamatan`
--

DROP TABLE IF EXISTS `kecamatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kecamatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_kabupaten` int(11) NOT NULL,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_kabupaten` (`id_kabupaten`),
  KEY `idx_kode` (`kode`),
  CONSTRAINT `kecamatan_ibfk_1` FOREIGN KEY (`id_kabupaten`) REFERENCES `kabupaten` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=545 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `provinsi`
--

DROP TABLE IF EXISTS `provinsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `provinsi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(10) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_kode` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_pemilihan` varchar(255) NOT NULL DEFAULT 'Quick Count Pemilu',
  `jenis_pemilihan` enum('pilpres','pilgub','pilbup','pilwalkot','pilkades') NOT NULL DEFAULT 'pilbup',
  `jenis_hitung` enum('quick_count','real_count') NOT NULL DEFAULT 'real_count',
  `tingkat_wilayah` enum('nasional','provinsi','kabupaten') NOT NULL DEFAULT 'kabupaten',
  `id_provinsi_aktif` int(11) DEFAULT NULL COMMENT 'NULL = semua provinsi',
  `id_kabupaten_aktif` int(11) DEFAULT NULL COMMENT 'NULL = semua kabupaten',
  `id_desa_aktif` int(11) DEFAULT NULL,
  `jumlah_tps_sample` int(11) DEFAULT 0,
  `public_detail_level` enum('minimal','full') NOT NULL DEFAULT 'full',
  `izinkan_edit_provinsi` tinyint(1) NOT NULL DEFAULT 0,
  `izinkan_edit_kabupaten` tinyint(1) NOT NULL DEFAULT 0,
  `publik_mode` enum('semua_daerah','satu_daerah') DEFAULT 'semua_daerah',
  `id_kabupaten_publik` int(11) DEFAULT NULL,
  `tahun_pemilihan` year(4) NOT NULL DEFAULT 2024,
  `logo` varchar(255) DEFAULT 'logo.png',
  `warna_tema` varchar(7) DEFAULT '#0d6efd',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `settings_kabupaten`
--

DROP TABLE IF EXISTS `settings_kabupaten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_kabupaten` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_kabupaten` int(11) DEFAULT NULL,
  `id_provinsi` int(11) DEFAULT NULL,
  `nama_pemilihan` varchar(255) NOT NULL,
  `jenis_pemilihan` enum('pilpres','pilgub','pilbup','pilwalkot','pilkades') NOT NULL DEFAULT 'pilbup',
  `jenis_hitung` enum('quick_count','real_count') NOT NULL DEFAULT 'real_count',
  `jumlah_tps_sample` int(11) DEFAULT 0,
  `public_detail_level` enum('minimal','full') DEFAULT 'full',
  `tahun_pemilihan` int(11) DEFAULT 2024,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_kabupaten` (`id_kabupaten`),
  CONSTRAINT `settings_kabupaten_ibfk_1` FOREIGN KEY (`id_kabupaten`) REFERENCES `kabupaten` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `suara`
--

DROP TABLE IF EXISTS `suara`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suara` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_tps` int(11) NOT NULL,
  `id_calon` int(11) NOT NULL,
  `jumlah_suara` int(11) NOT NULL DEFAULT 0,
  `suara_sah` int(11) NOT NULL DEFAULT 0,
  `suara_tidak_sah` int(11) NOT NULL DEFAULT 0,
  `foto_c1` varchar(255) DEFAULT NULL COMMENT 'Foto formulir C1',
  `catatan` text DEFAULT NULL,
  `input_by` int(11) DEFAULT NULL,
  `verified` tinyint(1) NOT NULL DEFAULT 0,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_suara` (`id_tps`,`id_calon`),
  KEY `idx_tps` (`id_tps`),
  KEY `idx_calon` (`id_calon`),
  KEY `input_by` (`input_by`),
  KEY `verified_by` (`verified_by`),
  CONSTRAINT `suara_ibfk_1` FOREIGN KEY (`id_tps`) REFERENCES `tps` (`id`) ON DELETE CASCADE,
  CONSTRAINT `suara_ibfk_2` FOREIGN KEY (`id_calon`) REFERENCES `calon` (`id`) ON DELETE CASCADE,
  CONSTRAINT `suara_ibfk_3` FOREIGN KEY (`input_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `suara_ibfk_4` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10973 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tps`
--

DROP TABLE IF EXISTS `tps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_desa` int(11) NOT NULL,
  `nomor_tps` int(11) NOT NULL,
  `dpt` int(11) NOT NULL DEFAULT 0 COMMENT 'Jumlah DPT',
  `alamat` text DEFAULT NULL,
  `koordinat_lat` decimal(10,8) DEFAULT NULL,
  `koordinat_lng` decimal(11,8) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tps` (`id_desa`,`nomor_tps`),
  KEY `idx_desa` (`id_desa`),
  CONSTRAINT `tps_ibfk_1` FOREIGN KEY (`id_desa`) REFERENCES `desa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8342 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tps_sample`
--

DROP TABLE IF EXISTS `tps_sample`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tps_sample` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tps_id` int(11) NOT NULL,
  `is_selected` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tps` (`tps_id`),
  CONSTRAINT `tps_sample_ibfk_1` FOREIGN KEY (`tps_id`) REFERENCES `tps` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1656 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telepon` varchar(20) DEFAULT NULL,
  `role` enum('admin','operator','viewer') NOT NULL DEFAULT 'operator',
  `foto` varchar(255) DEFAULT 'default.png',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_login` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_rekap_calon`
--

DROP TABLE IF EXISTS `v_rekap_calon`;
/*!50001 DROP VIEW IF EXISTS `v_rekap_calon`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_rekap_calon` AS SELECT
 1 AS `id_calon`,
  1 AS `nomor_urut`,
  1 AS `nama_calon`,
  1 AS `nama_wakil`,
  1 AS `foto_calon`,
  1 AS `foto_wakil`,
  1 AS `warna`,
  1 AS `jenis_pemilihan`,
  1 AS `total_suara` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_rekap_tps`
--

DROP TABLE IF EXISTS `v_rekap_tps`;
/*!50001 DROP VIEW IF EXISTS `v_rekap_tps`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_rekap_tps` AS SELECT
 1 AS `id_tps`,
  1 AS `nomor_tps`,
  1 AS `dpt`,
  1 AS `id_desa`,
  1 AS `nama_desa`,
  1 AS `id_kecamatan`,
  1 AS `nama_kecamatan`,
  1 AS `id_kabupaten`,
  1 AS `nama_kabupaten`,
  1 AS `id_provinsi`,
  1 AS `nama_provinsi`,
  1 AS `total_suara` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_rekap_calon`
--

/*!50001 DROP VIEW IF EXISTS `v_rekap_calon`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_rekap_calon` AS select `c`.`id` AS `id_calon`,`c`.`nomor_urut` AS `nomor_urut`,`c`.`nama_calon` AS `nama_calon`,`c`.`nama_wakil` AS `nama_wakil`,`c`.`foto_calon` AS `foto_calon`,`c`.`foto_wakil` AS `foto_wakil`,`c`.`warna` AS `warna`,`c`.`jenis_pemilihan` AS `jenis_pemilihan`,coalesce(sum(`s`.`jumlah_suara`),0) AS `total_suara` from (`calon` `c` left join `suara` `s` on(`c`.`id` = `s`.`id_calon`)) where `c`.`is_active` = 1 group by `c`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_rekap_tps`
--

/*!50001 DROP VIEW IF EXISTS `v_rekap_tps`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_rekap_tps` AS select `t`.`id` AS `id_tps`,`t`.`nomor_tps` AS `nomor_tps`,`t`.`dpt` AS `dpt`,`d`.`id` AS `id_desa`,`d`.`nama` AS `nama_desa`,`kec`.`id` AS `id_kecamatan`,`kec`.`nama` AS `nama_kecamatan`,`kab`.`id` AS `id_kabupaten`,`kab`.`nama` AS `nama_kabupaten`,`p`.`id` AS `id_provinsi`,`p`.`nama` AS `nama_provinsi`,coalesce(sum(`s`.`jumlah_suara`),0) AS `total_suara` from (((((`tps` `t` join `desa` `d` on(`t`.`id_desa` = `d`.`id`)) join `kecamatan` `kec` on(`d`.`id_kecamatan` = `kec`.`id`)) join `kabupaten` `kab` on(`kec`.`id_kabupaten` = `kab`.`id`)) join `provinsi` `p` on(`kab`.`id_provinsi` = `p`.`id`)) left join `suara` `s` on(`t`.`id` = `s`.`id_tps`)) group by `t`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-30 21:14:20
